#animal-type {
  color: pink;
  display: flex !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
  text-transform: none;
  font-style: unset !important;
}
